p{
  font-size: 17px;
  font-family: 'Montserrat', sans-serif;
}
h1{
  font-size: 50px;
  font-family: 'Montserrat', sans-serif;
}
h2{
  font-size: 35px;
  font-family: 'Montserrat', sans-serif;
}
b{
  font-size: 17px;
  font-family: 'Montserrat', sans-serif;
}
button{
  font-size: 17px;
  font-family: 'Montserrat', sans-serif;
}
ul{
  font-size: 17px;
  font-family: 'Montserrat', sans-serif;
}
th {
background-color: #862f9c;
color: white;
}
a:link{
color:#c47dff;
}
a:visited{
color:#c47dff;
}
a:active{
color:#c47dff;
}
a:hover{
color:#9a58d1;
}
::-moz-selection { /* Code for Firefox */
  color: white;
  background: #b035f2;
}

::selection {
  color: white;
  background: #b035f2;
}
.dis:hover{
  color: #680091 !important;
}
.dis:active{
  color: #680091 !important;
}
.dis:link{
  color: #680091 !important;
}
.dis:visited{
  color: #680091 !important;
}
#tele{
  padding-left: 15px !important;
}
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #a617c2;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7f1394;
}
